*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Game{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 2fr;
}
div{
    width: 100%;
    height: 100%;
}
.gameScreen{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
    /* overflow-y: hidden; */
}
.baicsDiv:hover{
    border: 1px solid #fff;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}

.tools{
    background-color: #3a3031;
}
.tools div.imgToolsContainer{
    height: auto;
    text-align: center;
    padding: 10px;
    position: relative;
}
.tools div.imgToolsContainer p.textImgFloat
{
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 21px;
}
.tools div.imgToolsContainer img{
    width: 30%;
    height: auto;
    cursor: pointer;
}

.yellowBox{
    background-color: yellow;
    width: 3vw;
    height: 3vw;
    margin: 0px auto;

}
.tools .btnDiv{
    width: 100%;
    margin: 10px 0px;
    align-items: center;
    height: fit-content;
}
.tools .btn-Refresh{
    padding: 10px;
    background-color: transparent;
    border: #fff solid 1px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    /* text-align: center; */
}